############################################################
# General
############################################################
**/.DS_Store
**/Thumbs.db

############################################################
# IDE
############################################################
**/.vscode/
**/.idea/

############################################################
# Dependencies
############################################################
**/node_modules/

############################################################
# Logs
############################################################
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/*.log

############################################################
# Environment files
############################################################
**/.env
**/.env.*
!**/.env.example
!**/.env.sample

############################################################
# Build outputs
############################################################
**/dist/
**/build/
**/.angular/
**/.angular/cache/
**/out-tsc/
**/tmp/

############################################################
# Vite
############################################################
**/.vite/

############################################################
# React
############################################################
**/.next/
**/out/

############################################################
# Python
############################################################
**/__pycache__/
**/.venv/
**/venv/

############################################################
# PHP/Laravel
############################################################
**/vendor/
**/storage/
**/bootstrap/cache/

############################################################
# Test coverage
############################################################
**/coverage/
**/.nyc_output/

############################################################
# Cache (TypeScript / ESLint / tooling)
############################################################
**/*.tsbuildinfo
**/.eslintcache
**/.stylelintcache
**/.cache/

############################################################
# Word, Axcel, Zip, Arj
############################################################
**/*.docx
**/*.xlsx
**/*.zip
**/*.arj

############################################################
# common, components folder
############################################################
**/common/
**/components/
